/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
----------------GLOBALES----------------
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
----------------GLOBALES----------------
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*----------GON: conocenos----------*/
.conoc{
    height: 780px;

    background-color: #FFFBF4;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.conoc-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conoc-img-in{
    width: 532px;
    height: 507px;
    
/*     opacity: 0.56; */
    border: 3px solid #DFBC62;
    border-radius: 42px;
}

.conoc-img-in img{
    border-radius: 42px;
    z-index: 1;
    margin-left: 100px;
    margin-top: -50px;
}

.conoc-info{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.conoc-info-title h2{
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
    color: #A75D3D;
}
.conoc-info-title::after{
    content: "";
    background-color: #DFBC62;
    width: 79px;
    height: 4px;
    position: absolute;
    margin-right: 160px;
}

.conoc-info-text{
    width: 451px;
    height: 223px;
    margin-top: 40px;

    text-align: left;
}

.conoc-info-text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 41px;
    color: #414141;

    opacity: 0.9;
}

/*----------FRAN: servicios----------*/

/*----------FRAN: nuestro trabajo----------*/

/*----------GON: informacion----------*/
.info{
    width: 100%;
    height: 613px;

    background-color: #A15B3D;
    background-image: url(../images/background-info.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.info-titulo{
    height: 54px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-titulo::after{
    content: "";
    background-color: #DFBC62;
    width: 79px;
    height: 4px;
    position: absolute;
    margin-top: 100px;
}

.info-titulo h2{
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.info-contenido{
    height: 96px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-contenido p{
    width: 830px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: white;
}

.info-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-button button{
    width: 236px;
    height: 50px;
    padding: 14px, 30px, 14px, 30px;

    font-family: 'Signika', sans-serif;
    border: none;
    border-radius: 32px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #DFBC62;
    cursor: pointer;
}

.info-button button:hover{
    background-color: transparent;
    border: 3px solid #DFBC62;
    font-size: 98%;
}
/*----------GON: contacto----------*/

.cont{
    width: 100%;
    height: 700px;

    background-image: url(../images/chef.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.cont::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    opacity: 0.6;
}

.cont-form-titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cont-form-titulo::after{
    content: "";
    background-color: #DFBC62;
    width: 79px;
    height: 4px;
    position: absolute;
    margin-top: 60px;
}


.cont-form-titulo h2{
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
    color: #A75D3D;
    z-index: 1;
}

.cont-form-media-info{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
}

.cont-form-media-info h3{
    font-family: signika;
    color: #A75D3D;
    font-weight: 700;
    font-size: 26px;
    line-height: 27px;
    text-align: center;

}

.cont-form-media-info p{
    font-family: Roboto;
    color: black;
    font-size: 20px;

    text-align: center;
}

.cont-form-media-info-dir{
    max-width: 300px;
}

.cont-form-media-info-dir-tit{
    display: flex;
    justify-content: center;
}

.cont-form-media-info-ins-tit{
    display: flex;
    justify-content: center;
}

.cont-form-media-info-tel-tit{
    display: flex;
    justify-content: center;
}

a button{
    width: 100px;
    height: 100px;
    background-color: #DFBC62;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
a .fa-brands, .fa-solid{
    color: rgb(255, 255, 255);
    margin: 0 auto;
}

/*----------GON: Footer----------*/

.fot{
    width: 100%;
    height: 82px;

    background-color: #A75D3D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fot p{
    width: 377px;
    height: 19px;
    left: 548px;
    top: 4919.96px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
}


/* ----------------media queries------------------ */


/* de 1024px */
@media screen and (max-width: 1400px){
    .conoc{
        width: auto;
        height: auto;

        justify-content: space-evenly;
        flex-direction: row;
    }
    
    .conoc-img{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .conoc-img-in{
        width: 400px;
        height: 400px;
    }
    
    .conoc-img-in img{
        width: 400px;
        height: 400px;
        margin-left: 40px;
        margin-top: -30px;
    }
}

/* TABLET */
@media screen and (max-width: 1023px){
    .conoc{
        width: auto;
        height: auto;

        justify-content: space-around;
        flex-direction: row;
    }
    
    .conoc-img{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .conoc-img-in{
        width: 280px;
        height: 280px;
    }
    
    .conoc-img-in img{
        width: 280px;
        height: 280px;
        margin-left: 20px;
        margin-top: -30px;
    }
    .conoc-info{
        height: auto;
    }
    .conoc-info-title h2{
        font-size: 30px;
    }
    .conoc-info-title::after{
        margin-right: 160px;
    }
    
    .conoc-info-text{
        width: 250px;
        height: auto;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
    .conoc-info-text p{
        font-size: 16px;
    }
        /* ----- INFO ----- */

        .info{
            width: auto;
            height: auto;
        }
        
        .info-titulo{
            margin-bottom: 40px;
        }
        
        .info-titulo::after{
            margin-right: 0px;
            margin-top: 50px;
        }
        
        .info-titulo h2{
            font-size: 18px;
        }
        
        .info-contenido p{
            width: auto;
            height: auto;
    
            font-size: 16px;
        }
        
        .info-button{
            margin-top: 40px;
            margin-bottom: 20px;
        }
        
        .info-button button{
            width: auto;
            height:  auto;
    
            font-size: 16px;
            padding: 5px;
        }

            /* -----CONTACTO----- */
        .cont{
            width: auto;
            height: auto;
        }
        
        .cont-form{
            max-width: 560px;

            margin-top: 40px;
            margin-bottom: 20px;
        }
}


/* MOBILE */
@media screen and (max-width: 599px){
    .conoc{
        width: auto;
        height: auto;

        justify-content: space-evenly;
        flex-direction: column;
    }
    
    .conoc-img{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .conoc-img-in{
        width: 230px;
        height: 230px;
    }
    
    .conoc-img-in img{
        width: 230px;
        height: 230px;
        margin-left: 10px;
        margin-top: -20px;
    }

    .conoc-info{
        width: auto;
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    .conoc-info-title h2{
        font-size: 25px;

    }
    .conoc-info-title::after{
        margin-right: 160px;
    }
    
    .conoc-info-text{
        width: 250px;
        height: auto;
        margin-top: 40px;
        margin-bottom: 20px;


    }
    
    .conoc-info-text p{
        font-size: 16px;
    }

    /* ----- INFO ----- */

    .info{
        width: auto;
        height: auto;
    }
    
    .info-titulo{
        margin-bottom: 40px;
    }
    
    .info-titulo::after{
        margin-right: 0px;
        margin-top: 50px;
    }
    
    .info-titulo h2{
        font-size: 18px;
    }
    
    .info-contenido p{
        width: auto;
        height: auto;

        font-size: 16px;
    }
    
    .info-button{
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
    .info-button button{
        width: auto;
        height:  auto;

        font-size: 16px;
        padding: 5px;
    }

    .info-button button:hover{
        background-color: transparent;
        border: 1px solid #DFBC62;
        font-size: 90%;
    }

    /* -----CONTACTO----- */
    .cont{
        width: auto;
        height: auto;
    }
    
    .cont-form{
        width: 300px;
        height: 360px;

        margin-top: 40px;
        margin-bottom: 20px;
    }

    .cont-form-media-info{
        margin: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    
    .cont-form-media-info h3{
        font-size: 16px;
    }
    
    .cont-form-media-info p{
        font-family: Roboto;
        color: white;
        font-size: 14px;
    
        text-align: center;
    }

    .cont-form-media-buttons{
        flex-direction: column;
        margin-bottom: 10px;
    }
    
    .cont-form-media-buttons button{
        font-size: 14px;
    }
    
    .but{
        margin: 5px;
    }
    
    i{
        margin-left: 10px;
    }
    

}