* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------FRAN: HOME Y NAVBAR---------- */


/*----------GON: conocenos----------*/


/*----------FRAN: servicios----------*/


/*----------FRAN: nuestro trabajo----------*/


/*----------GON: informacion----------*/


/*----------GON: contacto----------*/