::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-track {
    background: #B47255;
}

::-webkit-scrollbar-thumb {
    background: #DFBC62;
    border-radius: 3rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #CEAB51;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
--------------FRAN: header--------------
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.header {
    background-image: url(../images/background-header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 5rem;
}

.header__nav-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav-title div {
    background-image: url(../images/L.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 2.2rem;
    height: 2.2rem;
}

.header__nav-title h1 {
    font-family: "Khula";
    text-transform: uppercase;
    font-size: 1.03rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__nav-title h1 p {
    height: 1.4rem;
}

.burga {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    position: relative;
    height: 2.1rem;
    z-index: 3;
}

.burgas {
    height: .45rem;
    width: 2.5rem;
    background-color: #DFBC62;
    transition: transform .3s;
    border-radius: .2rem;
}

.burga0 {
    position: absolute;
    top: .8rem;
    transform: rotate(45deg);
}

.burga1 {
    opacity: 0;
}

.burga2 {
    transform: rotate(-45deg);
}

.no-scroll {
    overflow: hidden;
}

.fondoNav {
    position: absolute;
    background-color: #0005;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    transition: .4s;
}

.displayNav {
    display: block;
}

.header__nav-ul {
    display: none;
    gap: 2rem;
    list-style: none;
    text-decoration: none;
    z-index: 2;
}

.header__nav-ul a {
    text-transform: uppercase;
    font-family: "Signika";
    transition: .2s;
}

.header__nav-ul a:hover {
    border-bottom: solid #DFBC62 .2rem;
}

.header__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    padding: 3rem;
}

.header__info-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.header__info-text p {
    font-family: "Josefin Sans";
    text-transform: uppercase;
    font-size: 1.1rem;
}

.header__info-text p:first-child {
    font-size: 1.5rem;
}

.header__info-text h2 {
    font-family: "Signika";
    font-size: 3.2rem;
}

.header__info-text button {
    padding: 1rem;
    width: 50%;
    background-color: transparent;
    font-family: "Signika";
    border: solid #DFBC62 .2rem;
    border-radius: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    transition: .2s;
    font-size: 1.05rem;
}

.header__info-text button:hover {
    background-color: #DFBC62;
}

.header__info-img {
    background-image: url(../images/Logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 30rem;
    aspect-ratio: 1 / 1;
    border: solid #DFBC62 .2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__info-img div {
    background-image: url(../images/cake-photo.png);
    width: 10rem;
    height: 10rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: solid #fff .2rem;
}

@media (min-width: 931px) {
    .burga {
        display: none;
    }

    .header__nav-ul {
        display: flex;
    }
}

@media (max-width: 930px) {
    .header__info {
        display: grid;
        grid-template-columns: 1fr;
    }

    .header__info-img {
        grid-row: 1 / 2;
        margin: auto;
    }

    .header__nav-ul {
        flex-direction: column;
    }
}

@media (max-width: 525px) {
    .header__info-text button {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .header__nav {
        padding: 1.5rem;
    }
}

.nav-menu_visible {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    padding: 7rem 3rem;
    background-color: #666;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 1.3rem;
    right: 0;
    animation: nav;
    animation-duration: .4s;
}

@keyframes nav {
    0% {
        right: -100%;
    }

    100% {
        right: 0;
    }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
--------------FRAN: header--------------
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
-------------FRAN: servicios-------------
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
#servicios {
    background: linear-gradient(133.92deg, #B47255 25.15%, #A15B3D 52.52%, #844023 89%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 2rem;
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;
}

.servicios__title {
    font-family: "Signika";
    font-size: 2.75rem;
}

.servicios__servicios {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.servicios__servicios-card {
    position: relative;
}

.servicios__servicios-card p:first-child {
    background-color: #C4A656;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 5rem;
    width: min-content;
    padding: .8rem;
    font-size: 1.1rem;
    font-weight: 600;
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
}

.servicios__servicios-card p:last-child {
    font-size: 1.8rem;
}

@media (max-width: 425px) {
    .servicios__servicios-card img {
        width: 100%;
    }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
-------------FRAN: servicios-------------
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
----------FRAN: nuestro trabajo----------
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
#nuestro_trabajo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    gap: 2rem;
}

.trabajo__title {
    font-size: 2.75rem;
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;
    color: #A75D3D;
    text-align: center;
}

.workContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.workContainer div {
    max-width: 27rem;
    width: 25%;
    min-width: 20rem;
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
}

.workContainer img {
    width: 100%;
}

.workContainer p {
    position: absolute;
    display: none;
    top: 11rem;
    left: 5rem;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Signika';
    font-size: 1.3rem;
}

.workContainer span {
    position: absolute;
    background-color: #0009;
    backdrop-filter: blur(.1rem);
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
}

.workContainer div:hover p {
    animation-name: workAnimationTEXT;
    animation-duration: 1s;
    z-index: 2;
    display: block;
}

.workContainer div:hover img {
    animation-name: workAnimationIMG;
    animation-duration: 1s;
    transform: scale(1.2);
}

.workContainer div:hover span {
    animation-name: workAnimationSPAN;
    animation-duration: 1s;
    display: block;
    opacity: 1;
}

@keyframes workAnimationTEXT {
    0% {
        top: 3rem;
    }

    100% {
        top: 11rem;
    }
}

@keyframes workAnimationIMG {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes workAnimationSPAN {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
----------FRAN: nuestro trabajo----------
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/