* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------FRAN: HOME Y NAVBAR---------- 
*/
.header {
    background-image: url(../images/background-header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav-title h1 {
    font-family: "Khula";
}
.header__nav-ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    text-decoration: none;
}
.header__nav-ul a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: "Signika";
}
.header__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    padding: 3rem;
}
.header__info-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.header__info-text p{
    font-family: "Josefin Sans";
    text-transform: uppercase;
}
.header__info-text h2{
    font-family: "Signika";
}
.header__info-text button {
    padding: 1rem;
    width: 50%;
    background-color: transparent;
    font-family: "Signika";
    border: solid #DFBC62 .1rem;
    border-radius: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.header__info-img {
    background-image: url(../images/Logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 30rem;
    aspect-ratio: 1 / 1;
    border: solid #DFBC62 .1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__info-img div {
    background-image: url(../images/cake-photo.png);
    width: 10rem;
    height: 10rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: solid #fff .2rem;
}

/*----------GON: conocenos----------*/
.conoc{
    width: 100%;
    height: 613px;

    background-color: #FFFBF4;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.conoc-img{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.conoc-info{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.conoc-info-title h2{
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
    color: #A75D3D;
}
.serv-info-title::after{
    content: "";
    background-color: #DFBC62;
    width: 79px;
    height: 4px;
    position: absolute;
    margin-right: 160px;
}

.conoc-info-text{
    width: 451px;
    height: 223px;
    margin-top: 40px;

    text-align: left;
}

.conoc-info-text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 41px;
    color: #414141;

    opacity: 0.9;
}

/*----------FRAN: servicios----------*/

/*----------FRAN: nuestro trabajo----------*/

/*----------GON: informacion----------*/
.info{
    width: 100%;
    height: 613px;

    background-color: #A15B3D;
    background-image: url(../images/background-info.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.info-titulo{
    height: 54px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-titulo::after{
    content: "";
    background-color: #DFBC62;
    width: 79px;
    height: 4px;
    position: absolute;
    margin-top: 100px;
}

.info-titulo h2{
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.info-contenido{
    height: 96px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-contenido p{
    width: 830px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: white;
}

.info-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-button button{
    width: 236px;
    height: 50px;
    padding: 14px, 30px, 14px, 30px;

    font-family: 'Signika', sans-serif;
    border: none;
    border-radius: 32px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #DFBC62;
    cursor: pointer;
}
/*----------GON: contacto----------*/

.cont{
    width: 100%;
    height: 1000px;

  /*   background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)); */
    background-image: url(../images/chef.png);
    background-repeat: no-repeat;
/*     background-attachment: fixed; */
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-form{
    width: 818px;
    height: 550px;


    background: linear-gradient(152.29deg, #B47255 7.91%, #A15B3D 35.32%, #844023 94.05%);
    border-radius: 31px;
}

.cont-form-titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cont-form-titulo::after{
    content: "";
    background-color: #DFBC62;
    width: 79px;
    height: 4px;
    position: absolute;
    margin-top: 100px;
}

.cont-form-titulo h2{
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*----------GON: Footer----------*/

.fot{
    width: 100%;
    height: 82px;

    background-color: #DFBC62;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fot p{
    width: 377px;
    height: 19px;
    left: 548px;
    top: 4919.96px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
}