<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/Logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/stylesfran.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Nuestro trabajo</title>
    <meta name="description" content="Laminas comestibles personalizadas! Vos elegís el diseño y nosotros lo hacemos realidad.">
    <meta name="keywords" content="Laminas, comestibles, cortantes, chocotranfers, argentina, mendoza, Godoy Cruz, tortas">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <a href="../index.html" class="header__nav-title">
                <div></div>
                <h1>
                    <p>Aminas</p>
                    <p>comestibles</p>
                </h1>
            </a>
        </nav>
    </header>

    <main>
        <section id="#nuestro_trabajo">
            <h2 class="trabajo__title">Nuestro trabajo</h2>
            <div class="workContainerTwo trabajo__works"></div>
        </section>
    </main>
    
    <script src="../js/workscript.js"></script>
</body>
</html>