<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/Logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Dela+Gothic+One&family=Roboto:wght@100&family=Signika&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/stylesfran.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Nuestro trabajo</title>
    <meta name="description" content="Laminas comestibles personalizadas! Vos elegís el diseño y nosotros lo hacemos realidad.">
    <meta name="keywords" content="Laminas, comestibles, cortantes, chocotranfers, argentina, mendoza, Godoy Cruz, tortas">
</head>
<body>
    <header class="header header__work">
        <nav class="header__nav">
            <a href="../index.html" class="header__nav-title">
                <div></div>
                <h1>
                    <p>Aminas</p>
                    <p>comestibles</p>
                </h1>
            </a>
            <div class="burga">
                <div class="burgas"></div>
                <div class="burgas"></div>
                <div class="burgas"></div>
            </div>
            <ul class="header__nav-ul">
                <li><a href="../index.html#conocenos" class="navLinks">Conócenos</a></li>
                <li><a href="../index.html#servicios" class="navLinks">Servicios</a></li>
                <li><a href="../index.html#nuestro_trabajo" class="navLinks">Nuestro trabajo</a></li>
                <li><a href="../index.html#informacion" class="navLinks">Información</a></li>
                <li><a href="../index.html#contacto" class="navLinks">Contacto</a></li>
            </ul>
            <div class="fondoNav"></div>
        </nav>
    </header>

    <main>
        <section id="nuestro_trabajo-work">
            <h2 class="trabajo__title trabajo__title-work">Nuestro trabajo</h2>
            <div class="workContainerTwo trabajo__works"></div>
        </section>
    </section>
    <div class="info" id="informacion">
        <div class="info-text">
            <div class="info-text-titulo">
                <h2>TIENES DUDAS DE NUESTRO SERVICIO</h2>
            </div>
            <div class="info-text-contenido">
                <p><span class="bold">Te asesoramos en tu pedido por whatsapp</span></p>
                <p>Si desea saber mayor información sobre nuestro servicio, no dudes en escribirnos en cualquier
                    momento. ¡Animate😊!</p>
            </div>
            <div class="info-text-button">
                <a href="https://wa.me/5492617635863"><button>PEDIR INFORMACIÓN<i class="fa-brands fa-whatsapp"></i></button></a>
            </div>
        </div>
        <div class="info-img">
            <div class="info-img-in">
                <img src="../images/pastelero.png" alt="Manga de pasteleria con torta">
            </div>
        </div>
    </div>
    <section>
    </main>
    <footer>
        <div class="fot">
            <p>| Laminas comestibles 2022 | All Rights Reserved |</p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/ebb188da7c.js" crossorigin="anonymous"></script>
    <script src="../js/workscript.js"></script>
</body>
</html>