<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/Logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/stylesfran.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Nuestro trabajo</title>
    <meta name="description" content="Laminas comestibles personalizadas! Vos elegís el diseño y nosotros lo hacemos realidad.">
    <meta name="keywords" content="Laminas, comestibles, cortantes, chocotranfers, argentina, mendoza, Godoy Cruz, tortas">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <a href="../index.html" class="header__nav-title">
                <div></div>
                <h1>
                    <p>Aminas</p>
                    <p>comestibles</p>
                </h1>
            </a>
        </nav>
    </header>

    <main>
        <section id="#nuestro_trabajo">
            <h2 class="trabajo__title">Nuestro trabajo</h2>
            <div class="workContainerTwo trabajo__works"></div>
        </section>
        <section id="contacto">
            <div class="cont">
                    <div class="cont-form-titulo">
                        <h2>Contacto</h2>
                    </div>
                    <div class="cont-form-media-info">
                        <div class="cont-form-media-info-tel">
                            <div class="cont-form-media-info-tel-tit">
                                <a href="https://wa.me/5492617635863"><button><i class="fa-brands fa-whatsapp fa-4x"></i></button></a>
                            </div>
                            <div>
                                <h3>Teléfono</h3>
                                <p>+54 9 2617 63-5863</p>
                            </div>
                        </div>
                        <div class="cont-form-media-info-dir">
                            <div class="cont-form-media-info-dir-tit">
                                <a href=""><button><i class="fa-solid fa-house-chimney fa-4x"></i></button></a>
                            </div>
                            <div>
                                <h3>Dirección</h3>
                                <p>Augusto T.vandor 1796, Godoy Cruz Mendoza</p>
                            </div>
                        </div>
                        <div class="cont-form-media-info-ins">
                            <div class="cont-form-media-info-ins-tit">
                                <a href="https://www.instagram.com/laminascomestiblesmza/?hl=es-la"><button><i class="fa-brands fa-instagram fa-4x"></i></button></a>
                            </div>
                            <div>
                                <h3>Instagram</h3>
                                <p>laminascomestiblesmza</p>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="fot">
            <p>| Laminas comestibles 2022 | All Rights Reserved |</p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/ebb188da7c.js" crossorigin="anonymous"></script>
    <script src="../js/workscript.js"></script>
</body>
</html>